<div class='logo'>
</div>
<div class='login'>
	<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>
<div class='signup'>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>