<h1>Home#login</h1>
<p>This is the log in page. When open this page, old users should be able to enter their emails and passwords to log in.
   New users should get an error saying "your email does not exist"</p>
