

<!DOCTYPE html>

<html>


<head>
	<title>Oskimart</title> 
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <!-- <link rel="icon" type="image/png" href="images/favicon.png"> -->
        <link rel="stylesheet" type="text/css" href="main.css">

</head>

<!-- 
<header>
	<div class='logo'>
		<img src = "logo.png"> 
	</div>

</header>
 -->


<body>


	<div class='button login'>
		<FORM METHOD="LINK" ACTION="login.html">
		<INPUT TYPE="submit" VALUE="Login">
		</FORM>                      
		<!-- <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %> -->
	</div>


	<div class='button signup'>
        
		<form action="signup.html">
		    <input type="submit" value="Sign Up">
		</form>
        


		<!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> --> 


	</div>

 </body>
 
</html>
